@inject HttpClient httpClient

<AuthorizeView Roles="pestunov">
    <Authorized>
        <div class="container icard">
            <RowTitle Text="Панель администратора" />

            <LinkSmartAction LinkAction="@GetNewPrices" Name="Обновить цены" />
            <LinkSmartAction LinkAction="@GetNewReports" Name="Обновить отчеты" />
            <LinkSmartRoute Route="financialreportsform" Name="Проверить отчеты" />
            <LinkSmartAction LinkAction="@RecalculateAll" Name="Пересчитать все" />
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    async Task RecalculateAll() => await httpClient.GetAsync("admin/recalculateall");
    async Task GetNewPrices() => await httpClient.GetAsync("admin/getnewprices");
    async Task GetNewReports() => await httpClient.GetAsync("admin/getnewreports");
}
