@inject CustomHttpClient http

<DetailTemplate Name="Price list" DetailTemplateAction="ShowInfo">
    <ChildContent>
        @if (priceModels != null)
        {
            <TableVertical TItem="PriceFullModel" DataItems="priceModels" Columns="columns" />
        }
        else
        {
            <span>@DefaultData.loading</span>
        }
    </ChildContent>
</DetailTemplate>

@code {
    [Parameter] public long CompanyId { get; set; }

    List<PriceFullModel> priceModels;
    List<ColumnConfig> columns;

    async Task ShowInfo(bool isDetails)
    {
        if (isDetails == true)
        {
            columns = new List<ColumnConfig>();
            priceModels = await http.GetByIdAsync<List<PriceFullModel>>(Routes.C.Price + Routes.A.Full, CompanyId);
            columns.AddRange(new ColumnConfig[]
            {
                new ColumnConfig{DataField = nameof(PriceFullModel.DateBid), Caption = "Date Price", DataType = Enums.DataType.Date, Format = "g"},
                new ColumnConfig{DataField = nameof(PriceFullModel.Price), Caption = "Price", DataType = Enums.DataType.Number, Format = "f2"}
            });
        }
    }
}
