@inject APIService<DividendModel> apiService

<DetailTemplate Name="Dividend list" DetailTemplateAction="ShowInfo">
    <ChildContent>
        @if (items is not null)
        {
            <TableVertical TItem="DividendModel" DataItems="items.OrderByDescending(x => x.DateOperation).ToList()" Columns="columns" />
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</DetailTemplate>

@code {
    [Parameter] public long CompanyId { get; set; }
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    string info = DefaultString.loading;

    List<DividendModel> items;
    List<ColumnConfig> columns;

    async Task ShowInfo(bool isDetails)
    {
        if (isDetails == true)
        {
            var user = (await AuthenticationState).User;

            string CustomUriBuilder(long accountId) => DividendAPI.GetUriByAccountIdByCompanyId(accountId, CompanyId);
            ColumnConfig[] CustomColumnBuilder() => new ColumnConfig[]
                {
                    new ColumnConfig{DataField = nameof(DividendModel.DateOperation), Caption = "Date", DataType = HtmlDataType.Date, Format = "d", AlignType = AlignType.Center},
                    new ColumnConfig{DataField = nameof(DividendModel.Amount), Caption = "Ammount", DataType = HtmlDataType.Number, Format = "#,#0.###", AlignType = AlignType.Center},
                };

            var queryResult = await apiService.GetResultsAsync(user, CustomUriBuilder, CustomColumnBuilder);

            columns = queryResult.Columns;
            items = queryResult.ViewResult.ResultContents;
            info = queryResult.ViewResult.ResultInfo;
        }
    }
}
