@inject APIService<ReportModel> apiService

<DetailTemplate Name="Report details" DetailTemplateAction="ShowInfo">
    <ChildContent>
        @if (items is not null && items.Any())
        {
            <TableHorizontal TItem="ReportModel" DataItems="items.OrderByDescending(x => x.DateReport).ToList()" Columns="columns" BodyColWidth="6" />
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</DetailTemplate>


@code {
    [Parameter] public long CompanyId { get; set; }
    string info = DefaultString.loading;

    List<ReportModel> items;
    List<ColumnConfig> columns;

    async Task ShowInfo(bool isDetails)
    {
        if (isDetails == true)
        {
            string CustomUriBuilder() => ReportAPI.GetUriByCompanyId(CompanyId);
            ColumnConfig[] CustomColumnBuilder() => new ColumnConfig[]
                {
                    new ColumnConfig{DataField = nameof(ReportModel.DateReport), Caption = "Date Report", DataType = HtmlDataType.Date, Format = "d" },
                    new ColumnConfig{DataField = nameof(ReportModel.Quarter), Caption = "Quarter", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.Revenue), Caption = "Revenue", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.NetProfit), Caption = "Net Profit", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.GrossProfit), Caption = "Gross Profit", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.CashFlow), Caption = "Cash Flow", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.Assets), Caption = "Assets", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.Turnover), Caption = "Turnover", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.ShareCapital), Caption = "Share Capital", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.Dividend), Caption = "Dividend", DataType = HtmlDataType.Number, Format = "f2" },
                    new ColumnConfig{DataField = nameof(ReportModel.Obligation), Caption = "Obligation", DataType = HtmlDataType.Number, Format = "f0" },
                    new ColumnConfig{DataField = nameof(ReportModel.LongTermDebt), Caption = "Long Term Debt", DataType = HtmlDataType.Number, Format = "f0" },
                };
            var queryResult = await apiService.GetResultsAsync(CustomUriBuilder, CustomColumnBuilder);

            columns = queryResult.Columns;
            items = queryResult.ViewResult.ResultContents;
            info = queryResult.ViewResult.ResultInfo;
        }
    }
}