@inject CustomHttpClient http
@inject ILocalStorageService localStorage
@inject CustomNotification notice
@using System.Text.Json


<DetailTemplate Name="Transaction list" DetailTemplateAction="ShowInfo">
    <ChildContent>
        @if (transactions != null)
        {
            <TableVertical TItem="StockTransactionModel" DataItems="transactions" Columns="columns" />
        }
        else
        {
            <span>@DefaultString.loading</span>
        }
    </ChildContent>
</DetailTemplate>

@code {
    [Parameter] public long CompanyId { get; set; }
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    List<StockTransactionModel> transactions;
    List<ColumnConfig> columns;

    async Task ShowInfo(bool isDetails)
    {
        if (isDetails == true)
        {
            var user = (await AuthenticationState).User;

            if (await localStorage.ContainKeyAsync($"{user.Identity.Name}_{DefaultString.Id.accountId}"))
            {
                columns = new List<ColumnConfig>();
                columns.AddRange(new ColumnConfig[]
                {
                    new ColumnConfig{DataField = nameof(StockTransactionModel.DateOperation), Caption = "Date", DataType = HtmlDataType.Date, Format = "d"},
                    new ColumnConfig{DataField = nameof(StockTransactionModel.StatusName), Caption = "Status", DataType = HtmlDataType.String, AlignType=AlignType.Center},
                    new ColumnConfig{DataField = nameof(StockTransactionModel.Quantity), Caption = "Volume", DataType = HtmlDataType.Number, Format = "f0", AlignType=AlignType.Center},
                    new ColumnConfig{DataField = nameof(StockTransactionModel.Cost), Caption = "Cost", DataType = HtmlDataType.Number, Format = "f3"},
                });
                string accountIds = JsonSerializer.Serialize(await localStorage.GetItemAsync<long[]>($"{user.Identity.Name}_{DefaultString.Id.accountId}"));
                transactions = await http.GetAsync<List<StockTransactionModel>>(new UrlBuilder(UrlController.StockTransactions, UrlPath.ByAccountIds, accountIds, UrlPath.ByCompanyId, CompanyId).Result);
            }
            else
                await notice.AlertInfoAsync("Accounts not found!");
        }
    }
}
