<div class="row mt-2">
    <div class="col">
        <button type="submit" class="@buttonColor iconvex">@Title</button>
    </div>
</div>

@code{
    string buttonColor;
    [Parameter] public string Title { get; set; }
    [Parameter] public Choice.Button Color { get; set; }
    protected override void OnInitialized()
    {
        buttonColor = $"i{Color}";
        base.OnInitialized();
    }
}
