@model RegistrationModel

    <div class="container pt-5 mt-5">
        <div asp-validation-summary="All"></div>
        <form method="post" asp-controller="account" asp-action="@nameof(AccountController.Registration)" asp-antiforgery="true">
            <div class="row mb-4">
                <div class="col-lg-4 offset-lg-4">
                    <input class="form-control" asp-for="Email" placeholder="почта"/>
                    <span asp-validation-for="Email"></span>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4 offset-lg-4">
                    <input class="form-control" asp-for="Password" placeholder="пароль"/>
                    <span asp-validation-for="Password"></span>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4 offset-lg-4">
                    <input class="form-control" asp-for="PasswordConfirm" placeholder="подтверди пароль"/>
                    <span asp-validation-for="PasswordConfirm"></span>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col-lg-4 offset-lg-4">
                    <button type="submit" class="btn btn-outline-danger w-100">Зарегистрироваться</button>
                </div>
            </div>
        </form>
    </div>