<RowTitleSub Text="Операции по счету" />

<div class="row icard-content small">
    <div class="col">
        <div class="row text-info text-nowrap">
            <div class="col-7">
                <div class="row">
                    <div class="col">Статус</div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6 px-0">Сумма</div>
                    <div class="col-6 px-0 text-center">Дата</div>
                </div>
            </div>
        </div>

        @foreach (var transaction in AccountTransactions)
        {
            <div class="row text-@Color.ToString()">
                <div class="col-7">
                    <div class="row">
                        <div class="col">@transaction.Status</div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-6 px-0">@transaction.Amount</div>
                        <div class="col-6 px-0 text-center">@transaction.DateOperation</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    [Parameter] public IEnumerable<BrokerAccountTransaction> AccountTransactions { get; set; }
    [Parameter] public Choice.Color Color { get; set; } = Choice.Color.light;
}
