<RowTitleSub Text="Обмен валюты" />

<div class="row icontent small">
    <div class="col">
        <div class="row text-info text-nowrap">
            <div class="col-7">
                <div class="row">
                    <div class="col-8">Статус</div>
                    <div class="col-4">Курс</div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6">Кол-во</div>
                    <div class="col-6 text-center">Дата</div>
                </div>
            </div>
        </div>

        @foreach (var rate in ExchangeRates)
        {
            <div class="row text-@Color.ToString()">
                <div class="col-7">
                    <div class="row">
                        <div class="col-8">@rate.Status</div>
                        <div class="col-4">@rate.Rate</div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">@rate.Quantity</div>
                        <div class="col-6 text-center">@rate.DateOperation</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public IEnumerable<BrokerExchangeRate> ExchangeRates { get; set; }
    [Parameter] public Choice.TextColor Color { get; set; } = Choice.TextColor.light;
}
