<TitleSubInv Color="ColorType.warning" Text="Дивиденды" />

<div class="row text-monospace border-bottom border-dark mx-1 text-info">
    <div class="col-7 pl-0">
        <div class="row">
            <div class="col">Компания</div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-6 px-0">Сумма</div>
            <div class="col-6 px-0 text-center">Дата</div>
        </div>
    </div>
</div>

@foreach (var dividend in Dividends)
{
    <div class="row text-monospace border-bottom border-dark mx-1 text-@Color.ToString()">
        <div class="col-7 pl-0">
            <div class="row">
                <div class="col">@dividend.Company</div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-6 px-0">@dividend.Amount</div>
                <div class="col-6 px-0 text-center">@dividend.DateOperation</div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public IEnumerable<BrokerDividend> Dividends { get; set; }
    [Parameter] public ColorType Color { get; set; } = ColorType.success;
}
