@inherits LayoutComponentBase

<header style="height:3rem">
    <NavMenu />
</header>

<NotificationSide />
<div class="container-fluid iframe-main">
    <div class="container">
        @Body
    </div>
</div>
