<nav class="navbar fixed-top idark iconvex">
    <div class="col-10">
        <AuthDisplay />
    </div>
    <div class="col-2 text-right text-nowrap">
        <IconInformation Title="Read me" Text="Hello Friend! Please click on the same shortcut wherever you see it. So you will understand what this program is capable of.This program is useful for anyone who has their own stock portfolio. It will be very useful for those whose accounts are registered with the Russian broker BCS. In the future, I would like to expand the list of brokers.
                         Thanks!
                         If you have any questions or suggestions, write to me via telegram: ponkorn71"/>
        <NavLink class="navbar-brand" href="/">
            <span class="oi oi-home" aria-hidden="true"></span>
        </NavLink>
    </div>
</nav>

