<!doctype html>
<html lang="ru">
<head>
    <partial name="MetatagsPartial" />
    <partial name="CssPartial" />
</head>
<body class="bg-dark text-light">
    <header class="mt-5 pt-1">
        <partial name="HeaderPartial" />
    </header>
    <main class="container-fluid">
        @RenderBody()
    </main>
    <footer class="mb-5">
        <partial name="FooterPartial" />
    </footer>
    <partial name="ScriptsPartial" />
    <partial name="_ValidationScriptsPartial"/>
</body>
</html>