@foreach (var i in Companies)
{
    <div class="row border border-dark m-1 rounded">
        <div class="col-md-1 col-2 text-center">
            @i.Id
        </div>
        <div class="col-md-11 col-10">
            @i.Name
        </div>
    </div>
}
