@inject CustomHttpClient http
@inject CustomNotification notice
@inject ICatalogService catalogService

<RowTitleSub Text="Account transactions" />

<div class="row icontent small">
    <div class="col">
        <div class="row text-info text-nowrap">
            <div class="col-5"> Status </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6 px-0">Sum</div>
                    <div class="col-6 px-0 text-center">Date</div>
                </div>
            </div>
        </div>

        @foreach (var transaction in accountTransactions)
        {
            string color = catalogService.GetStatusBootstrapColor(transaction.StatusId);
            string ststusName = catalogService.GetStatusName(transaction.StatusId);
            string currency = transaction.CurrencyId switch
            {
                (long)CurrencyTypes.rub => "rub",
                (long)CurrencyTypes.usd => "usd",
                _ => "?"
            };

            <div class="row ilink text-@color" @onclick="(() => SaveData(transaction))">
                <div class="col-5">@ststusName </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-6 px-0">@(transaction.Amount + " " + currency)</div>
                        <div class="col-6 px-0 text-center">@transaction.DateOperation.ToShortDateString()</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    [Parameter] public List<AccountTransactionModel> AccountTransactions { get; set; }
    List<AccountTransactionModel> accountTransactions { get; set; }

    protected override void OnParametersSet()
    {
        accountTransactions = AccountTransactions;
        base.OnParametersSet();
    }

    async Task SaveData(AccountTransactionModel transaction)
    {
        var result = await http.PostAsync<BaseActionResult, AccountTransactionModel>(new UrlBuilder(UrlController.AccountTransactions).Result, transaction);

        if (result.IsSuccess)
        {
            await notice.AlertSuccesAsync(result.Info);
            accountTransactions.Remove(transaction);
        }
        else
            notice.ToastDanger("Account transaction error", result.Info);
    }
}
