<div class="row mt-2">
    <div class="col">
        <button type="button" @onclick="ClickAction" class="@Color.ToString() iconvex">@Title</button>
    </div>
</div>

@code{
    [Parameter] public string Title { get; set; }
    [Parameter] public Choice.InvestColor Color { get; set; }
    [Parameter] public EventCallback ClickAction { get; set; }
}
