@*@page "/accounttransactions"
@inject CustomHttpClient httpClient
@inject Notification notice

@if (models != null)
{
    foreach (var account in models.GroupBy(x => x.Account))
    {
        <div class="container idark iframe small">
            <RowTitle Color="Choice.Color.warning" Text="@account.Key" />
            <div class="row icontent">
                <div class="col">
                    @foreach (var model in account)
                    {
                        string sum = model.CurrencyId == 1 ? model.Sum.ToString("C", new CultureInfo("en-US")) : model.Sum.ToString("C");
                        string colorTransaction = model.Status.Equals("Пополнение") ? "danger" : "success";

                        <div class="row text-@colorTransaction my-1 text-nowrap">
                            <div class="col-4">@model.Status</div>
                            <div class="col-4">@sum</div>
                            <div class="col-4 text-right">@model.DateTransaction.ToShortDateString()</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    notice.LoadStop();
}

@code {
    IEnumerable<AccountTransactionModel> models;
    protected override async Task OnInitializedAsync()
    {
        notice.LoadStart();
        models = await httpClient.GetResultAsync<IEnumerable<AccountTransactionModel>>("transaction/accounttransactions");
    }
}*@
