@page "/exchangeratetransactions"
@inject HttpClient httpClient

<div class="container invest_card">
</div>

@code {
    ClaimsPrincipal user;
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        user = (await AuthenticationState).User;
    }
}
