<div class="container idark iframe">
    <RowTitle Text="Транзакции в портфелях" />

    <AuthorizeView>
        <Authorized>
            <LinkSmartRoute Route="accounttransactions" Name="Операции с счетами" />
            <LinkSmartRoute Route="stocktransactions" Name="Операции с акциями" />
            <LinkSmartRoute Route="comissiontransactions" Name="Комиссии" />
            <LinkSmartRoute Route="dividendtransactions" Name="Дивиденды" />
            <LinkSmartRoute Route="exchangeratetransactions" Name="Обмены валют" />
        </Authorized>
        <NotAuthorized>
            <NotAuthorizeInfo />
        </NotAuthorized>
    </AuthorizeView>

</div>