<div class="row">
    <div class="col h6 text-right text-info text-monospace mb-0">
        @Text
    </div>
</div>
<div class="dropdown-divider"></div>

@code {
    [Parameter]
    public string Text { get; set; }
}
