@inject APIService<AccountTransactionModel> apiService

<DetailTemplate Name="Transaction list" DetailTemplateAction="ShowInfo">
    <ChildContent>
        @if (items is not null && items.Any())
        {
            <TableHorizontal TItem="AccountTransactionModel" DataItems="items.OrderByDescending(x => x.DateOperation).ToList()" Columns="columns" BodyColWidth="6" />
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</DetailTemplate>

@code {
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    List<AccountTransactionModel> items;
    List<ColumnConfig> columns;
    public string info = DefaultString.loading;

    async Task ShowInfo(bool isDetails)
    {
        if (isDetails == true)
        {
            var user = (await AuthenticationState).User;

            string CustomUriBuilder(long accountId) => AccountTransactionAPI.GetUriByAccountId(accountId);
            ColumnConfig[] CustomColumnBuilder() => new ColumnConfig[]
            {
                    new ColumnConfig{DataField = nameof(AccountTransactionModel.AccountName), Caption = "Account", DataType = HtmlDataType.String},
                    new ColumnConfig{DataField = nameof(AccountTransactionModel.DateOperation), Caption = "Date", DataType = HtmlDataType.Date, Format = "d"},
                    new ColumnConfig{DataField = nameof(AccountTransactionModel.StatusName), Caption = "Status", DataType = HtmlDataType.String},
                    new ColumnConfig{DataField = nameof(AccountTransactionModel.Amount), Caption = "Amount", DataType = HtmlDataType.Number, Format = "#,#0.##"},
                    new ColumnConfig{DataField = nameof(AccountTransactionModel.CurrencyName), Caption = "Currency", DataType = HtmlDataType.String}
            };

            var queryResult = await apiService.GetResultsAsync(user, CustomUriBuilder, CustomColumnBuilder);

            columns = queryResult.Columns;
            items = queryResult.ViewResult.ResultContents;
            info = queryResult.ViewResult.ResultInfo;
        }
    }
}
