@inject CustomHttpClient http
@inject ILocalStorageService localStorage

<DetailTemplate Name="Transaction list" DetailTemplateAction="ShowInfo">
    <ChildContent>
        @if (items is not null && items.Any())
        {
            <TableHorizontal TItem="AccountTransactionModel" DataItems="items.OrderByDescending(x => x.DateOperation).ToList()" Columns="columns" BodyColWidth="6" />
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</DetailTemplate>

@code {
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    List<AccountTransactionModel> items;
    List<ColumnConfig> columns;
    public string info = DefaultString.loading;

    async Task ShowInfo(bool isDetails)
    {
        if (isDetails == true)
        {
            var user = (await AuthenticationState).User;

            if (await localStorage.ContainKeyAsync($"{user.Identity.Name}_{DefaultString.Id.accountId}"))
            {
                var accountIds = await localStorage.GetItemAsync<long[]>($"{user.Identity.Name}_{DefaultString.Id.accountId}");

                if (accountIds.Any())
                {
                    var result = new List<AccountTransactionModel>();

                    foreach (var accountId in accountIds)
                        result.AddRange(await http.GetAsync<List<AccountTransactionModel>>(new UrlBuilder(UrlController.AccountTransactions, UrlPath.ByAccountId, accountId).Result));

                    if (result.Any())
                    {
                        items = result;

                        columns = new List<ColumnConfig>();
                        columns.AddRange(new ColumnConfig[]
                        {
                            new ColumnConfig{DataField = nameof(AccountTransactionModel.AccountName), Caption = "Account", DataType = HtmlDataType.String},
                            new ColumnConfig{DataField = nameof(AccountTransactionModel.DateOperation), Caption = "Date", DataType = HtmlDataType.Date, Format = "d"},
                            new ColumnConfig{DataField = nameof(AccountTransactionModel.StatusName), Caption = "Status", DataType = HtmlDataType.String},
                            new ColumnConfig{DataField = nameof(AccountTransactionModel.Amount), Caption = "Amount", DataType = HtmlDataType.Number, Format = "f2"},
                            new ColumnConfig{DataField = nameof(AccountTransactionModel.CurrencyName), Caption = "Currency", DataType = HtmlDataType.String}
                        });
                    }
                    else
                        info = $"{DefaultString.outresult} transactions.";
                }
                else
                    info = DefaultString.accountDisabled;
            }
            else
                info = DefaultString.accountNotFound;
        }
    }
}
