<div class="row @Theme iframe">
    <div class="col-11">
        <span class="text-@TitleColor.ToString() font-weight-bolder">@Name</span>
        @if (!string.IsNullOrWhiteSpace(Description))
        {
            <span class="small text-muted ml-2">@Description</span>
        }
    </div>
    <div class="col-1 text-right"><DetailToggleComponent ToggleAction="ToggleDetail" /></div>
    @if (isDetail)
    {
        <div class="col-12">@AdditionalBlock</div>
        <div class="dropdown-divider"></div>
        <div class="col-12">@InfoBlock</div>
    }
</div>
@ActionBlock

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public ColorBootstrap TitleColor { get; set; }
    [Parameter] public ColorCustom Theme { get; set; } = ColorCustom.idark;
    [Parameter] public RenderFragment AdditionalBlock { get; set; }
    [Parameter] public RenderFragment InfoBlock { get; set; }
    [Parameter] public RenderFragment ActionBlock { get; set; }

    bool isDetail;
    void ToggleDetail(bool isDetail) => this.isDetail = isDetail;
}
