@inject HttpClient httpClient

<RowTitleSub Text="Общая информация" />
<div class="row icard-content">
    <div class="col">
        <RowDoubleInfo Title="Моих компаний" Value="@result.CompanyCount" />
    </div>
</div>

@code
{
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }
    PortfolioCommonModel result = new PortfolioCommonModel();

    protected override async Task OnParametersSetAsync()
    {
        var user = (await AuthenticationState).User;
        if (user.Identity.IsAuthenticated)
            result = await httpClient.GetFromJsonAsync<PortfolioCommonModel>($"portfolio/common");
    }
}
