
<div class="container invest_card">
    <RowTitle Text="Итог по портфелям" />
    <AuthorizeView>
        <Authorized>
            <PortfolioFinancialInfo Dollar="Dollar" />
            <PortfolioCommonInfo />
        </Authorized>
        <NotAuthorized>
            <NotAuthorizeInfo />
        </NotAuthorized>
    </AuthorizeView>
</div>
@code
{
    [Parameter] public decimal Dollar { get; set; }
}
