<div class="row">
    <div class="col-12 text-dark"> @errorText </div>
    @if (ServerErrors != null && ServerErrors.Any())
    {
        foreach (var error in ServerErrors)
        {
            <div class="col-12 text-dark">server: @error </div>
        }
    }
</div>

@code {
    string errorText = "Sorry, something went wrong.";
    [Parameter] public string Text { get; set; }
    [Parameter] public IEnumerable<string> ServerErrors { get; set; }
    protected override void OnInitialized()
    {
        errorText = !string.IsNullOrWhiteSpace(Text) ? Text : errorText;
    }
}
