.hover:hover {
    color: aqua;
    font-weight: bold;
    cursor: pointer;
}

.hoverView:hover {
    border-bottom: 1px solid;
    border-radius: 6px;
    border-bottom-color: red;
}

a {
    color: antiquewhite;
}
