<div class="row  ml-1">
    <div class="col">
        <AuthorizeView>
            <Authorized>
                <NavLink style="text-decoration:none" class="text-black-50" href="logout">Выйти</NavLink>&ensp;
                <span class="text-light">@context.User.Identity.Name.Split('@')[0]</span>
            </Authorized>
            <NotAuthorized>
                <NavLink class="font-weight-bold" style="color:darkgreen;text-decoration:none" href="login">Войти</NavLink>&ensp;
                <NavLink style="text-decoration:none" class="text-light" href="register">Зарегистрироваться</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>