<div class="row">
    <div class="col text-center p-1" @onclick="@CloseAction" style="cursor:pointer">
        <span class="oi oi-x" aria-hidden="true"></span>
    </div>
</div>

@code {
    [Parameter] public EventCallback CloseAction { get; set; }
}
