<div class="row h-100">
    <div class="col text-center p-1 ilink" @onclick="@CloseAction">
        <span class="oi oi-x text-@Color" aria-hidden="true"></span>
    </div>
</div>

@code {
    [Parameter] public EventCallback CloseAction { get; set; }
    [Parameter] public Choice.Color Color { get; set; } = Choice.Color.light;
}
