<div class="row">
    <div @onclick="@OnClick" class="col text-@Position.ToString()" style="cursor:pointer">
        <span class="oi oi-list" aria-hidden="true"></span>
    </div>
</div>

@code {
    [Parameter] public string Value { get; set; }
    [Parameter] public Choice.Position Position { get; set; } = Choice.Position.right;
    [Parameter] public EventCallback<string> DetailAction { get; set; }

    async Task OnClick()
    {
        if (!string.IsNullOrWhiteSpace(Value))
            await DetailAction.InvokeAsync(Value);
    }
}
