<div @onclick="@OnClick" class="row" style="cursor:pointer">
    <div class="col text-@Position.ToString()">
        <span class="oi oi-list" aria-hidden="true"></span>
    </div>
</div>

@code {
    [Parameter] public string Value { get; set; }
    [Parameter] public Choices.Position Position { get; set; } = Choices.Position.right;
    [Parameter] public EventCallback<string> DetailAction { get; set; }

    async Task OnClick()
    {
        if (!string.IsNullOrWhiteSpace(Value))
            await DetailAction.InvokeAsync(Value);
    }
}
