<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top rounded-bottom" style="height:3em">
    <div class="col-10">
        <AuthDisplay />
    </div>
    <div class="col-2 text-right">
        <NavLink class="navbar-brand" href="/">
            <span class="oi oi-home" aria-hidden="true"></span>
        </NavLink>
    </div>
</nav>