<a href="/@Path" @onclick="OnclickCallback" class="row font-weight-bold py-2" style="color:mediumaquamarine">
    @if (!string.IsNullOrWhiteSpace(Value))
    {
        <div class="col-8"><span class="oi oi-external-link" aria-hidden="true"></span>&emsp;@Name: </div>
        if (string.IsNullOrWhiteSpace(Date))
        {
            <div class="col-4">@Value</div>
        }
        else
        {
            <div class="col-4">
                <div class="row">
                    <div class="col-8">
                        @Value
                    </div>
                    <div class="col-4"><span class="oi oi-info" aria-hidden="true"></span></div>
                </div>
            </div>
        }

    }
    else
    {
        if (string.IsNullOrWhiteSpace(Date))
        {
            <div class="col-12"><span class="oi oi-external-link" aria-hidden="true"></span>&emsp;@Name</div>
        }
        else
        {
            <div class="col-12">
                <span class="oi oi-external-link" aria-hidden="true"></span>@Name
                <span class="oi oi-info" aria-hidden="true"></span>
            </div>
        }
    }
</a>

@code {
    [Parameter] public string Path { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public string Date { get; set; }
    [Parameter] public EventCallback OnclickCallback { get; set; }
}
