<div class="row p-2">
    <a class="col-8 col-md-5 ilink iconvex py-2" href="/@Route">@Name</a>
    @if (!string.IsNullOrWhiteSpace(Value))
    {
            <div class="col-4 offset-md-4 col-md-3">
                <div class="row">
                    <div class="col-9 col-md-10 ">
                        @Value
                    </div>
                    <div class="col-3 col-md-2">
                        <InfoIcon Position="Choice.Position.center" InfoAction="DetailAction" />
                    </div>
                </div>
            </div>
    }
</div>

@code {

    [Parameter] public string Route { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback DetailAction { get; set; }
}
