<div class="row py-1">
    <div class="col-@colLink">
        <div @onclick="LinkAction" class="ilink">
            <span class="oi oi-external-link" aria-hidden="true"></span>
            &emsp;@Name
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Value))
    {
        <div class="col-4">
            <div class="row">
                <div class="col-9">
                    @Value
                </div>
                <div class="col-3">
                    <InfoIcon Position="Choice.Position.right" InfoAction="DetailAction"/>
                </div>
            </div>
        </div>
    }

</div>

@code {

    int colLink = 8;
    [Parameter] public string Path { get; set; }
    [Parameter] public string Name { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback LinkAction { get; set; }
    [Parameter] public EventCallback DetailAction { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        colLink = string.IsNullOrWhiteSpace(Value) ? 12 : colLink;
    }
}
