<div class="row my-2 px-2">
    <div class="col col-md-5 ilink" @onclick="LinkAction">@Name</div>
</div>

@code {

    [Parameter] public string Name { get; set; }
    [Parameter] public EventCallback LinkAction { get; set; }
}
