
<div class="row text-@Color.ToString() @rowBorder">
    <div class="col-@colTitle">@Title</div>
    <div class="col-@colValue text-right font-italic">@Value</div>
</div>

@code {
    int colTitle = 6;
    int colValue = 6;
    string rowBorder = "";
    [Parameter] public Choices.Color Color { get; set; } = Choices.Color.light;
    [Parameter] public Choices.RowCount RowCount { get; set; } = Choices.RowCount.One;
    [Parameter] public string Title { get; set; }
    [Parameter] public string Value { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (RowCount == Choices.RowCount.Two)
        {
            colTitle = 12;
            colValue = 12;
            rowBorder = "border-bottom border-dark";
        }
    }
}
