<div class="row font-italic font-weight-light text-@Color.ToString() py-2">
    <div class="col">@Text</div>
</div>

@code {
    [Parameter] public Choices.Color Color { get; set; } = Choices.Color.secondary;
    [Parameter] public string Text { get; set; }
}
