<AuthorizeView Roles="pestunov">
    <Authorized>
        <div class="container invest_card">
            <TitleInv Text="Панель администратора" />

            <LinkInv Name="обновить цены" />
            <LinkInv Name="обновить отчеты" />
            <LinkInv Name="разобрать отчеты" />
            <LinkInv Name="пересчитать все" />
        </div>
    </Authorized>
</AuthorizeView>
