@if (!IsDone)
{
    <div class="container icard-danger">
        <RowTitle Text="@Title" Color="Choice.Color.warning" Position="Choice.Position.center" />
        <RowTitleSub Color="Choice.Color.dark" Text="Ошибка:" />
        <div class="row">
            <label class="col-12 text-center text-light">@ErrorValue</label>
        </div>
        <RowTitleSub Color="Choice.Color.dark" Text="Возможное решение:" />
        <div class="row icard-content">
            <div class="col-12">@ChildContent</div>
        </div>
    </div>
}


@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool IsDone { get; set; }
    [Parameter] public string ErrorValue { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
