@if (!IsDone)
{
    <div class="idanger iframe">
        <div class="row">
            <div class="col text-center text-warning">@Title</div>
        </div>
        <div class="row">
            <div class="col text-dark">Error: </div>
        </div>
        <div class="row">
            <label class="col-12 text-center text-light">@ErrorValue</label>
        </div>
        <div class="row">
            <div class="col text-danger">Decision:</div>
        </div>
        <div class="row icontent">
            <div class="col-12">@ChildContent</div>
        </div>
    </div>
}


@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public bool IsDone { get; set; }
    [Parameter] public string ErrorValue { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
