<div class="row text-monospace ml-1">
    <AuthorizeView>
        <Authorized>
            <a class="text-black-50 text-right" href="logout">Выйти</a>&ensp;
            <div class="text-light">@context.User.Identity.Name.Split('@')[0]</div>
        </Authorized>
        <NotAuthorized>
            <a class="text-right font-weight-bold" style="color:darkgreen" href="login">Войти</a>&ensp;
            <a class="text-light" href="register">Зарегистрироваться</a>
        </NotAuthorized>
    </AuthorizeView>
</div>