@inject CustomNotification notice

<span class="oi oi-info ilink" style="cursor:pointer" aria-hidden="true" @onclick="@(() => notice.ToastInfo(Title, Text))"></span>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Text { get; set; }
}
