@inject CustomHttpClient http

<FrameTemplate Theme="Choice.InvestColor.idanger" Name="Administrator" TitleColor="Choice.TextColor.light">
    <IconBlock>
        <div class="col-1 px-0"> <IconCustom IconName="calculator" /> </div>
        <div class="col-1 px-0"> <IconCustom IconName="script" /> </div>
        <div class="col-1 px-0"> <IconCustom IconName="document" /> </div>
        <div class="col-1 px-0"> <IconCustom IconName="check" /> </div>
        <div class="col-1 px-0"> <IconCustom IconName="file" /> </div>
    </IconBlock>
    <InfoBlock>
        <IconRowInformation IconName="calculator" Name="Recalculate all" />
        <IconRowInformation IconName="script" Name="Load prices" />
        <IconRowInformation IconName="document" Name="Load reports" />
        <IconRowInformation IconName="check" Name="Check reports" />
        <IconRowInformation IconName="file" Name="Add company" />
    </InfoBlock>
</FrameTemplate>

@code {

}
