
<div class="row">
    <div class="col-@HeaderWidth text-dark">
        @foreach (var header in Headers)
        {
            <div class="row">
                <div class="col">@header</div>
            </div>
        }
    </div>
    <div class="col-@BodyWidth">
        <div class="row flex-nowrap" style="overflow-x:auto">
            @foreach (var values in Bodies)
            {
                <div class="col-@BodyColWidth">
                    @foreach (var value in values)
                    {
                        <div class="row">
                            <div class="col">@value</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


@code {
    [Parameter] public int HeaderWidth { get; set; } = 5;
    [Parameter] public int BodyWidth { get; set; } = 7;
    [Parameter] public int BodyColWidth { get; set; } = 3;
    [Parameter] public List<string> Headers { get; set; } = new List<string>();
    [Parameter] public List<List<string>> Bodies { get; set; }
}
